@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Bold");
  src: url("../fonts/Montserrat-Bold.otf") format("otf");
  src: url("../fonts/Montserrat-Bold.ttf") format("ttf");
}

body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

main {
  margin: 0 auto;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

img {
  width: 100%;
}

a {
  margin: 0;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  list-style-type: none;
  padding: 0;
}

p {
  margin: 0;
}

button {
  outline: none;
  border: none;
}

button:focus {
  outline: none;
  border: none;
}

button:hover {
  outline: none;
  border: none;
}

button:active {
  outline: none;
  border: none;
}

main {
  background: rgba(242, 242, 242, 0.21);
}

h1 {
  font-size: 45px;
  line-height: 1.3;
  font-weight: bold;
  font-family: "Montserrat-Bold", sans-serif;
}

h2 {
  font-size: 38px;
  line-height: 47px;
  font-weight: bold;
  font-family: "Montserrat-Bold", sans-serif;
}

h3 {
  font-size: 18px;
  line-height: 22px;
  font-family: "Montserrat-Medium", sans-serif;
  font-weight: normal;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  display: block;
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
}

.text--orange {
  color: #f2aa07;
}

.text-bold {
  font-weight: bold;
}
